/* css for properties page */
.single-property-wrapper.flex {
    justify-content: space-between;
  }
  .img-container {
    width: 90%;
  }
  .img-container img {
    width: 100%;
  }
  .img-container p.pink {
    padding: 5px 10px;
    background-color: var(--pink);
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
    margin: 20px 0;
  }
  .img-container .main-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--light-grey);
  }
  .img-container .desc {
    margin: 25px 0;
    color: #4a4a4a;
    line-height: 2;
  }
  .img-container .accordion .accordion-item .accordion-answer span {
    color: #d63384;
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
  }
  .img-container .accordion .accordion-item .accordion-answer.accordion-active {
    padding: 20px;
  }
  
  /* responsive for pages */
  /* small screen */
  @media (min-width: 577px) and (max-width: 768px) {
      .img-container {
          width: 100%;
      }
      .single-property-wrapper.flex {
          flex-wrap: wrap;
        }
        .single-property-wrapper .details-wrapper {
          margin-top: 30px;
          width: 100%;
        }
  }
  /* mobile screen */
  @media (min-width: 200px) and (max-width: 576px) {
      .img-container {
          width: 100%;
      }
      .single-property-wrapper.flex {
          flex-wrap: wrap;
        }
        .single-property-wrapper .details-wrapper {
          margin-top: 20px;
          width: 100%;
        }
  }
  